*{	margin:0;	padding:0;	}

body{	background-color:#ffcccc;  }

main
{				
	background-color:#ccffcc;
	height:400px;
	width:4000px;
}

section
{
	display:inline-block;
	width:320px;
	height:100%;
	margin-left:60px;
	background-color:#ccc;
}

aside
{
	position:fixed;
	right:-260px;
	top:0px;
	width:320px;
	height:100%;
	background-color:#ccccff;
}

header
{
	position:fixed;
	top:0px;
	left:60px;
	width:400px;
	height:100px;
	background-color:#333;
}

footer
{
	position:fixed;
	bottom:0px;
	left:60px;
	width:400px;
	height:100px;
	background-color:#333;
}


/* #main{				
	background-color:#ccffcc;
	height:440px;
	width:4000px;
}

.colonne
{
	display:inline-block;
	width:320px;
	height:400px;
	margin:20px;
	background-color:#ccc;
}

.aside
{
	width:100px;
	height:100px;
	background-color:#333;
}

.bloc
{
	width:100px;
	height:100px;
	background-color:#333;
} */
